<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
<link rel="shortcut icon" type="image/svg" href="/YANOTECH/assets/favicon.svg">
<link rel="shortcut icon" type="image/png" href="/YANOTECH/assets/favicon-256.png" sizes="256x256">
<link rel="shortcut icon" type="image/png" href="/YANOTECH/assets/favicon-192.png" sizes="192x192">
<link rel="shortcut icon" type="image/png" href="/YANOTECH/assets/favicon-128.png" sizes="128x128">
<link rel="shortcut icon" type="image/png" href="/YANOTECH/assets/favicon-64.png" sizes="64x64">
<link rel="shortcut icon" type="image/png" href="/YANOTECH/assets/favicon-48.png" sizes="48x48">
<link rel="shortcut icon" type="image/png" href="/YANOTECH/assets/favicon-32.png" sizes="32x32">
<link rel="favicon" href="/YANOTECH/favicon.ico" sizes="16x16">
<title>{{ page.title | default: site.title }}</title>
{% seo %}